.header {
  display: flex;
  justify-content: space-between;
  background-color: #282625;
  color: #fff;

  svg {
    width: 35px;
  }
}

.header .logout {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
