.ReportParagraph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  transition: all 200ms;
  border: 1px solid var(--gray-3);

  .ReportParagraph-dropdown {
    opacity: 0;
  }

  &:hover {
    background-color: var(--gray-1);

    .ReportParagraph-dropdown {
      opacity: 1;
    }
  }

  > div:first-child {
    width: 100%;
  }
}

.ReportParagraph-alt {
  border: 1px solid #bfbfbf;
  border-radius: 6px;
  padding: 8px;
}

.ReportParagraph-editable {
  width: 100%;
}
